body {
  font-family: sans-serif;
}

.d3-root {
  display: block;
  height: 100vh;
  width: 100vw;
  background: #FFFFFF;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #f0F;
  stroke-linejoin: round;
}