@import "../../node_modules/normalize.css/normalize.css";
body {
  font-family: sans-serif;
}

.d3-root {
  display: block;
  height: 100vh;
  width: 100%; // 100vw 
  background: #FFFFFF;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #FFFFFF;
  stroke-linejoin: round;
}
.work-cover {
  height: 100vh;
  width: 100%;
  background: url(../images/work.jpg) no-repeat center center; 
  background-size: cover;
}